docs/site/
deceptgold/.python-version
deceptgold/poetry.lock
deceptgold/.venv
deceptgold/venv
deceptgold/.env
deceptgold/env
deceptgold/dist
deceptgold/.idea
deceptgold/.briefcase/

.idea/
*.iml
.venv/
venv/
.env
env/
/tools
/tools/
/tools/*